@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Rubik&display=swap');

body {
  background-color: #EAD0A1;
  color: #31373C;
}

footer {
  background-color: rgba(201, 140, 111, 0.9);
  width: 400%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 750px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
}

p {
  width: 294px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

a {
  color: #31373C;
  text-decoration: none;
}

a:hover {
  color: #31373C;
  text-decoration: line-through;
}

header {
  padding: 13px;
}

nav {
  width: 160px;
}

.header__nav__menu {
  display: none;
  position: absolute;
  background-color: rgba(201, 140, 111, 0.9);
  width: 100%;
  padding: 60px 180px 20px 24px;
  margin: -45px 0px 0px -20px;
  font-family: 'Prata', serif;
  font-size: 22px;
  line-height: 37px;
  z-index: -1;
}

.header__nav__menu.is-open {
  display: block;
}

#header__nav__burger-btn {
  background-image: url('../img/menu.svg');
  width: 39px;
  height: 31px;
  z-index: 1;
}

#header__nav__burger-btn.is-open {
  background-image: url('../img/menu_open.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.wrapper {
  overflow-x: visible;
}

#events {
  text-decoration: line-through;
}

.fix {
  position: fixed;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  z-index: -2;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 40px 0px;
}

.carousel-inner {
  margin: 30px 0px 0px 10px;
  z-index: -3;
}

.pages {
  width: 230px !important;
  height: 350px !important;
}

.flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: -30px 0px 0px 35px;
}
