body {
  background-color: #EAD0A1;
  /* overflow-x: hidden; */
  width: 748px;
  height: 704px;
  color: #31373C;
}

p {
  width: 294px;
  font-family: 'Rubik';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

a {
  color: #31373C;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 13px;
}

#menu {
  position: sticky;
}

.menu_open {
  background-color: rgba(201, 140, 111, 0.9);
  display: flex;

}

#menu_open {
  position: sticky;
  display: none;
  justify-content: space-between;
  align-items: flex-start;
}

.menu_text {
  display: none;
  background-color: rgba(201, 140, 111, 0.9);
  font-family: 'Prata';
  font-size: 22px;
  line-height: 37px;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

/* .sticky {
  position: fixed;
  top: 0;
  width: 100%
} */

#logo {
  position: sticky;
}

.tree {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tree {
  width: 250vw;
}

#plane {
  position: absolute;
  left: 30vw;
  top: 48vh;
}

#fern_shrub {
  position: absolute;
  left: 120vw;
  top: 50vh;
}

#leaf_phisalis {
  position: absolute;
  left: 130vw;
  top: 80vh;
}

#monstera {
  position: absolute;
  left: 50vw;
  top: 95vh;
}

footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1920px) {

}
