@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Rubik&display=swap');

body {
  max-height: 300px;
  background-color: #EAD0A1;
  color: #31373C;
}

footer {
  background-color: rgba(201, 140, 111, 0.9);
  width: 250%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 73px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
}

p {
  width: 294px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

a {
  color: #31373C;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

header {
  padding: 13px;
}

nav {
  /* width: 160px; */
}

.header__nav__menu {
  display: none;
  position: absolute;
  background-color: rgba(201, 140, 111, 0.9);
  width: 100%;
  padding: 60px 145px 20px 24px;
  margin: -45px 0px 0px -20px;
  font-family: 'Prata', serif;
  font-size: 22px;
  line-height: 37px;
  z-index: -1;
}

.header__nav__menu.is-open {
  display: block;
}

#header__nav__burger-btn {
  background-image: url('../img/menu.svg');
  width: 39px;
  height: 31px;
  z-index: 1;
}

#header__nav__burger-btn.is-open {
  background-image: url('../img/menu_open.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.wrapper {
  overflow-x: visible;
}

#map {
  text-decoration: line-through;
}

.fix {
  position: fixed;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  z-index: -2;
}

.text {
  padding: 40px 0px 40px 0px;
}

.tree {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#tree {
  width: 250vw;
}

.plane_group {

}

#plane {
  position: absolute;
  left: 30vw;
  top: 48vh;
  animation: move 5s infinite ease-in-out;
}

#plane_text {
  display: none;
  width: 180px;
  height: 90px;
  position: absolute;
  bottom: 300px;
}

#fern_shrub {
  position: absolute;
  left: 125vw;
  top: 55vh;
}

#fern_shrub_text {
  display: none;
  width: 180px;
  height: 90px;
  position: absolute;
  bottom: 120px;
  left: 200px;
}

#leaf_phisalis {
  position: absolute;
  left: 130vw;
  top: 90vh;
}

#leaf_phisalis_text {
  display: none;
  width: 180px;
  height: 90px;
  position: absolute;
  bottom: -130px;
  left: 400px;
}

#monstera {
  position: absolute;
  left: 50vw;
  top: 103vh;
}

#monstera_text {
  display: none;
  width: 180px;
  height: 90px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

#address {
  padding: 0px -30px 0px -30px;
}

#instagram {
  padding: 0px 10px 0px 10px;
}

#telegram {
  padding: 0px 10px 0px 10px;
}

@keyframes move {
0% {
transform: translateX(0px);
}
50% {
transform: translateX(-70px);
}
100% {
transform: translateX(0px);
}
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1920px) {

}
