@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Rubik&display=swap');

body {
  background-color: #EAD0A1;
  color: #31373C;
}

.wrapper {
  overflow-x: visible;
}


footer {
  background-color: rgba(201, 140, 111, 0.9);
  display: flex;
  justify-content: space-between;
  margin: 73px 0px 0px 0px;
  padding: 20px 0px 20px 0px;
}

p {
  width: 294px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

a {
  color: #31373C;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

header {
  padding: 13px;
}

.header__nav__menu {
  display: none;
  position: absolute;
  background-color: rgba(201, 140, 111, 0.9);
  width: 100%;
  padding: 60px 150px 20px 24px;
  margin: -45px 0px 0px -20px;
  font-family: 'Prata', serif;
  font-size: 22px;
  line-height: 37px;
  z-index: -1;
}

.header__nav__menu.is-open {
  display: block;
}

#header__nav__burger-btn {
  background-image: url('../img/menu.svg');
  width: 39px;
  height: 31px;
  z-index: 1;
}

#header__nav__burger-btn.is-open {
  background-image: url('../img/menu_open.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

#map {
  text-decoration: line-through;
}

.fix {
  position: fixed;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  z-index: -2;
}

.text {
  padding: 40px 0px 40px 0px;
}

.tree {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#tree {
  width: 250vw;
}

#plane {
  position: absolute;
  left: 30vw;
  top: 48vh;
}

#fern_shrub {
  position: absolute;
  left: 120vw;
  top: 50vh;
}

#leaf_phisalis {
  position: absolute;
  left: 130vw;
  top: 80vh;
}

#monstera {
  position: absolute;
  left: 50vw;
  top: 95vh;
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 414px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1920px) {

}
