@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
  background-color: #EAD0A1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#logo {
  position: sticky;
}

.tree {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tree {
  width: 200vw;
}
